body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ade2e241;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid_container{
  display: grid;
  grid-template-areas: 'header' 'main';
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 2fr;
  height: 100%;
  width: 100%;
}
header{
  grid-area: header;
  /* background-color: rgb(8, 8, 78); */
  position: fixed;
  width: 100vw;
  height:15vh;
  
}
main{
  grid-area: main;
  padding: 1rem;
  margin-top: 10px;
  height: 100vh;
}
